<div class="mainContainer">
    <a class="button4" (click)="expandzones()">&#9660; {{countriesDetails.name}} ({{countriesDetails.zones.length}})</a>
    <ng-container *ngFor="let zone of countriesDetails.zones">
        <div class="zoneContainer" [className]="showzones?'show':'hide'">
            <div appCustomDirective class="zoneName">&#9660; {{zone.zonename}} ({{zone.states.length}})</div>
              <div #tasknote class="stateContainer content">
                <ng-container *ngFor="let state of zone.states">
                    <div class="stateName"><a (click)=statedetails(state)>{{state.name}}</a></div>
                </ng-container>
              </div>
        </div>
    </ng-container>
    <div class="section2">
        <button class="expandall" (click)="expandall()">Expand all</button>
        <button class="collapseall" (click)="collapseall()">Collapse all</button>
    </div>
    <div class="stateDetails">
        <h4>State Details</h4>
        <table>
        <tr>
            <th>Name</th>
            <th>Population</th>
        </tr>
        <tr>
            <td>{{displayDetails.name}}</td>
            <td>{{displayDetails.population | convertunits}}</td>
        </tr>
        </table>
    </div>
</div>